*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}
body{
     width: 100vw;
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     justify-content: center;
   background: url(https://w0.peakpx.com/wallpaper/41/600/HD-wallpaper-connectivity-digital-blue-abstract-background-android-technology.jpg);
   background-size: cover;
     .home-container{
          button{
               padding: 1.2rem;
               cursor: pointer;
          }
     }
}